*{
   margin: 0;
   padding: 0;
}
.main{
   background-color: aquamarine;

   display: grid;
   grid-template-columns: 250px 1fr 1fr;
   grid-template-rows: 1fr 250px 1fr;
   column-gap: 20px;
   margin-top: 10px;
}
body{
   width: 1000px;
   margin-left: auto;
   margin-right: auto;
}
.tittle{
   background-color: rgb(218, 236, 112);
   grid-column: 1/4;
   text-align: center;
}

.color{
   background-color: black;
   width: 20px;
   height: 20px; 
   border: 2px solid black; 
}
.color-red{background-color: red;}
.color-white{background-color:white;}
.color-blue{background-color:blue;}
.color-green{background-color:green;}

.cr{
   display: flex;
   gap: 20px;
}
.rf{
   display: flex;
   justify-content: space-between;
 
}
.fr{
   font-weight: bold;
   color: rgb(231, 19, 29);
   font-size: larger;
}
.rs{
   font-size:;
}
.pic{
   margin-top: 2px;
}
.anchor{
   text-decoration: none;
   display: block;
   margin:5px 0px 10px 5px
}
.buton{
   width: 100%;
   font-weight: bold;
   background-color:black;
   color: beige;
   cursor: pointer;
   text-align: center;
   margin-top: 4px;
}
.buton:hover{
   font-weight: bold;
   background-color:white;
   color: black;
   font-size: large;
}
.ade{
   grid-column: 1/4;
}
.detail{
   margin-top: 2px;
}
.product-detail{
   margin-top: 2px;
}
.order{
   margin-left: 20px;
   margin-top: 5px;
}